/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.link {
	color: blue !important;
	
}

.navbar {
    padding: 5px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #182c25;
    color: #fff;
    transition: all 0.3s;
    margin-top: 60px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 30px 20px 20px 20px;
    background: #1e453e;
}

#sidebar ul.components {
    padding: 0 0 25px 0;
    /* border-bottom: 1px solid #306844; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #2c4c3b;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #2c4c3b;
}


a[data-toggle="collapse"] {
    position: relative;
}

#sidebar a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    /* content: '\e259'; */
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
#sidebar a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    /* padding-left: 10px !important; */
    /* background: #6d7fcc; */
}

ul.dropdown-menu{
    margin-top: 5px !important;
    border: none;
    min-width: 0;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.float-right{
    float: right !important;
}
.btna{
    float: left !important;
    margin-left: 7px;
}
.btnb{
    margin: 2px 0 0 0;
}
.text-left {
    text-align: left !important;
}
.img-responsive {
    max-height: calc(100vh - 225px);
}
/* .modal {
    text-align:center;
}
.modal-dialog {
    display: inline-block;
    width: auto;
} */
.kotak{
    float: right !important;
    padding: 0 0px 0 70px;
}
.total{
    float: right !important;
    
}
.col-xs-3 {
    width: 25%;
    margin-top: 8px;
}
.gapmodal{
    margin: 0 0 10px 0;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
}
#content.active {
    width: 100%;
}

#content a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    /* content: '\e259'; */
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

.navbar-brand{
    /* width: 10%; */
    padding: 0;
}

.form-input{
    padding: 30px;
}
#sidebarCollapse {
    display: none;
}
.sembarang{
    display: none;
}
.namabar{
    display:none;
}
.logoutbar{
    display:none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
-----------------------------------------------------*/
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse {
        display: block;
    }
    .navbar-brand{
        display: none;
    }
    .sembarang{
        display: block;
        float: right;
    }
    .namabar{
        display:block;
    }
    .logoutbar{
        display:block;
    }
    
    
}
@media (max-width: 421px){
    .tabelbaru{
        width: 100% !important;
    }
}
/* login css */
body#LoginForm{ 
    background-image:url("../img/background.jpg"); 
    background-repeat:no-repeat; background-position:center; 
    background-size:cover; 
    padding:10px;
}

.form-heading {color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 100px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}

.login-form  .btn.btn-primary {
  background: #182c25 none repeat scroll 0 0;
  border-color: #ffffff;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { 
    text-align: left; 
    margin-top:10px;
}
.back a {
    color: #444444; 
    font-size: 13px;
    text-decoration: none;
}
@media (max-width: 768px) {
    .main-div {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 2px;
        margin: 150px auto 30px;
        max-width: 84%;
        padding: 50px 50px 50px 50px;
    }
}

/* end of login css */